<div class="navbar">
  <div class="navbar">
    <%= link_to "#", class: "navbar-brand" do %>
    <%= link_to image_tag("ritu_logo.png", width: 100), root_path %>
    <% end %>
  </div>
  <div class="container-nav">
      <h1>Learn</h1>
      <h1>Academy</h1>
      <h1>Movies</h1>
      <h1>About Us</h1>
  </div>

    <ul class="container-nav">
      <li >
        <%= image_tag("white_glass.png", width: 20) %>
      </li>
      <li class="container-nav">
        <%= image_tag("brazil.png", width: 20) %>
      </li>
      <li class="container-nav">
        <%= image_tag("user.png", width: 20) %>
      </li>
    </ul>
  </div>
</div>
