    <div>
      <h1 class="container">North</h1>
      <div class="container">
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("pezinho.png") %></div>
        <div class="item"><%= image_tag("maracatu.png") %></div>
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("tecnobrega.png") %></div>
      </div>
      <h1 class="container">Documentários</h1>
      <div class="container">
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("pezinho.png") %></div>
        <div class="item"><%= image_tag("maracatu.png") %></div>
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("tecnobrega.png") %></div>
      </div>
      <h1 class="container">Musicais</h1>
      <div class="container">
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("pezinho.png") %></div>
        <div class="item"><%= image_tag("maracatu.png") %></div>
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("tecnobrega.png") %></div>
      </div>
      <h1 class="container">Biografias</h1>
      <div class="container">
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("pezinho.png") %></div>
        <div class="item"><%= image_tag("maracatu.png") %></div>
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("tecnobrega.png") %></div>
      </div>
    </div>
