<div class="banner">
  <div >
    <h2>FEEL THE SENSATION OF <h2>
    <h2><strong>CABOCLINHO</strong> ANYWHERE</h2>
    <p>Wide selection of RITUS with the best audio and visual quality</p>
    <div class="but">
      <%= link_to "Join now", academy_url, class: "btn btn-ghost" %>
      <%= link_to "Learn more", academy_url, class: "btn btn-ghost" %>
    </div>
  </div>
</div>

    <div>
      <h1 class="container">North</h1>
      <div class="container">
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("pezinho.png") %></div>
        <div class="item"><%= image_tag("maracatu.png") %></div>
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("tecnobrega.png") %></div>
      </div>
      <h1 class="container">Documentários</h1>
      <div class="container">
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("pezinho.png") %></div>
        <div class="item"><%= image_tag("maracatu.png") %></div>
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("tecnobrega.png") %></div>
      </div>
      <h1 class="container">Musicais</h1>
      <div class="container">
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("pezinho.png") %></div>
        <div class="item"><%= image_tag("maracatu.png") %></div>
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("tecnobrega.png") %></div>
      </div>
      <h1 class="container">Biografias</h1>
      <div class="container">
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("pezinho.png") %></div>
        <div class="item"><%= image_tag("maracatu.png") %></div>
        <div class="item"><%= image_tag("cururu.png") %></div>
        <div class="item"><%= image_tag("tecnobrega.png") %></div>
      </div>
    </div>



<%= turbo_frame_tag "regioes" do %>
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to "Northeast", northeast_path %>
    </li>
    <li>
      <%= link_to "North", north_path %>
    </li>
    <li>
      <%= link_to "Southeast", southeast_path %>
    </li>
    <li>
      <%= link_to "South", south_path %>
    </li>
    <li>
      <%= link_to "Midwest", midwest_path %>
    </li>
  </ul>
<% end  %>
