<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1598868116817-febbd119e53a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <h1>FEEL THE SENSATION OF CABOCLINHO ANYWHERE</h1>
    <p>Wide selection of RITUS with the best audio and visual quality</p>
    <%= link_to "Join now", academy_url, class: "btn btn-ghost" %>
    <%= link_to "Learn more", academy_url, class: "btn btn-ghost" %>
  </div>
</div>

<%= turbo_frame_tag "regioes" do %>
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to "Northeast", northeast_path %>
    </li>
    <li>
      <%= link_to "North", north_path %>
    </li>
    <li>
      <%= link_to "Southeast", southeast_path %>
    </li>
    <li>
      <%= link_to "South", south_path %>
    </li>
    <li>
      <%= link_to "Midwest", midwest_path %>
    </li>
  </ul>
<% end  %>
